<div class="card" style="width: 18rem;">
    <img src="https://img-b.udemycdn.com/course/240x135/394676_ce3d_5.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Introduction to Python Programming</h5>
        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, sapiente?</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Item List</li>
        <li class="list-group-item">Item number One</li>
        <li class="list-group-item">Item number Two</li>
        <li class="list-group-item">Item number Three</li>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link">View More</a>
        <a href="#" class="card-link">Add to Cart</a>
    </div>
</div>